/*section-text*/
.section-text
{
    background-color: rgb(25, 199, 230);
    color: rgb(255, 230, 0)
}
.h2-text
{
    width: 200px;
    background-color: rgb(233, 32, 18))
}
/*section-list*/
.section-list
{
    background-color: rgb(192, 8, 8);
    color:rgb(30, 30, 228)
}
.h2-list
{
    width: 200px;
    background-color: rgb(129, 240, 26);
}
/*section-table*/
.section-table
{
    background-color: rgb(248, 252, 5);
    color:rgb(216, 23, 55)
}
.h2-table
{
    width: 200px; 
    background-color: rgb(48, 48, 202);
}
/*section-img*/
.section-img
{
    background-color: rgb(21, 187, 21);
    color:rgb(167, 31, 167)
}
.h2-img
{
    width: 200px;
    background-color: rgb(255, 145, 0);
}