/*section-text*/
.section-text
{
    background-color: rgb(25, 199, 230);
}
.h2-text
{
    width: 200px;
    background-color: rgb(233, 62, 90);
}
/*section-list */
.section-list
{
    background-color: rgb(192, 8, 8);
}
.h2-list
{
    width: 200px;
    background-color: rgb(240, 240, 26);
}
/*section-table */
.section-table
{
    background-color: rgb(248, 252, 5);
}
.h2-table
{
    width: 200px; 
}
/*section-img */
.section-img
{
    background-color: rgb(21, 187, 21);
}
.h2-img
{
    width: 200px;
}