/*section1-text*/
.section1-text
{
    background-color: rgb(25, 199, 230);
}
/*section2-list */
.section2-list
{
    background-color: rgb(192, 8, 8);
}
/*section3-table */
.section3-table
{
    background-color: rgb(248, 252, 5);
}
/*section4-img */
.section4-img
{
    background-color: rgb(21, 187, 21);
}